*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 5px 20px;
    height: 10vh;
    position: fixed;
     width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    
}

.header>div>ul{
    display:flex;
    list-style:none;
    gap: 5vw;
    font-weight: 400;
    color: black    ;
}

.header>.logo{
   font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 26, 71);
}

.header button{
    default: none;
    background-color: rgba(0, 145, 255, 0.963);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
}
.scroll{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


