*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* css for desktop */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 20px;
    height: 15vh;
    overflow: visible;
    z-index: 5;
    position: fixed;
     width: 100%;
    top: 0;
    left: 0;
    background-color: #ede8d08c;
    color: white;
    /* color: #08545e; */
    
}

.header>div>ul{
    display:flex;
    list-style:none;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: black;
    height: 100%;
}

.header>.logo{
   font-size: .5rem;
    font-weight: 700;
    color: rgb(0, 26, 71);
}
.header>.logo>a>img{
  height: 15vh;
  width: auto;
}
.header button{
    default: none;
    background-color: #08545e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
}
.scroll{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #EDE8D0;
   
}
.scroll ul>li{
 color: #08545e;
}

.header>div>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 100%;
    text-align: center;
    /* border-radius: 3px; */
    /* color: #08545e; */
    color: #08545e;
    font-weight: 700;
    font-size: 1.3vmax;
    position: relative;
    
}

.dropdown-menu {
  /* display: none; */
  position: absolute;
  top: 100%;
  left: 0;
  font-size: medium;
  font-weight: 300;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px 0;
  z-index: 100;
  width: max-content;
  background-color: #08545e;
  
  padding: .5rem 1rem;
  text-align: left;
  transition: all 6s ease-in-out;
}
.dropdown-menu>li{
  padding: 8px 16px;
  cursor: pointer;
  color: white;
}
.dropdown-menu>li>a{
  color: white;
}
/* li:hover .dropdown-menu {
  display: block;
} */
.dropdown-menu>li>a:hover{
  color: #e0d38e;
}
.menu-icon{
    display: none;
}
.header>div>ul>li:hover{
    color: #EDE8D0;
    background-color: #08545e;
    transition: all 0.3s ease-in-out;
    scale-x: 1.3;

}
.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
/* css for phone */
@media (max-width: 767px) {
    
    .header{position: fixed;}
    .header>div>ul.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px 0;
    }
    .header button{
        display: none;
    }
    /* Base menu hidden by default on mobile */
    .menu-slide {
      position: fixed;
      top: 7.7vh;
      right: -100%; /* Hide it offscreen */
      min-width: 50%;
      width: auto;
      height: 90vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transition: right 0.4s ease-in-out;
      z-index: 10;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
      
    }
  .dropdown-menu{
    right: -15px;
  }
    .menu-slide.active {
      right: 0; /* Slide it in */

    }
  
    .header>div>ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 80%;
      
    }
  
    .header>div> ul > li {
      /* padding: 15px 0; */
      font-size: 1.2rem;
      width: 100%;
      height: 15%;
      border-bottom: 1px solid #eee;
    }
    
  
    .menu-icon {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      color: black;
      z-index: 20;
    }
  
    .header button {
      display: none;
    }
    .header{
      margin-bottom: 0;
      height: 8vh;
      padding-top: 1.5vh;
      top: -1px;
    }

    .header>.logo>a>img{
      height: 8vh;
      width: auto;
    }

  
  }

