.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
   backdrop-filter: blur(6px);
}
.modal-form{
    width: 45rem;
    height: 37rem;
}
.modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}
 
form>button{
    margin: auto;
}

@media (max-width: 768px) {
    .modal-form {
        width: 90%;
        height: 80%;
    }
}


