#about{
    margin-top: 8vh;    
    height: 80vh;
    padding: 7vh 3vw 0;
    
    width: 100%;
}
.ediv1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.ediv11{
    display: flex;
    width: 50%;
    height: 100%;
}
.ediv111>h2{
    font-size: 2.3rem;
    font-weight: 700;
    color: rgb(0, 26, 71);
    margin-bottom: 2vh;
    line-height: 1.2;
}
.ediv111>p{
    font-weight: 400;
    color: rgb(0, 26, 71);
    line-height: 1.5;
    margin-bottom: 3vh;
}
.aicon{
    margin-right: 0.5vw;
}
.ediv12{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ediv121{
    border: 1px solid gray;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    border-radius: 8px;
    box-shadow: 10px 10px  rgba(0, 0, 0, 0.592);
    padding-top: 3vh;
    
}
.ediv121>div>h1{
    margin-left: 2vw;
}
.ediv121>div>div{
    margin-left: 2vw;
    display: flex;
}
.ediv121>div>div>div>h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(0, 26, 71);
    margin-left: 1vw;
}
.ediv121>div>div>div>p{
    margin-left: 1vw;
}