#about {
    margin-top: 15vh;
    height: auto;
    padding: 7vh 3vw 0;
    width: 100%;
  }
  
  .about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .about-left {
    display: flex;
    /* border: 2px solid orange; */
    height: 90vh;
    width: clamp(45vmax, 700px, 100vmin);
  }
  
  .about-content > h2 {
    font-size: 4vmin;
    font-weight: 700;
    color: #08545e;
    margin-bottom: 2vh;
    line-height: 1.2;
  }
  
  .about-content > p {
    font-size: 2.4vmin;
    font-weight: 400;
    color: rgb(0, 26, 71);
    line-height: 1.5;
    margin-bottom: 3vh;
  }
  
  .value-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .value-item {
    display: flex;
  }
  
  .icon-wrapper {
    margin-right: 1vw;
    width: 3rem;
    height: 30px;
  }
  
  /* .icon {
    width: 100%;
    height: 100%;
  } */
  
  .about-right {
    width: clamp(45vmax, 700px ,100vmin);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
  }
  
  .strategy-box {
    border: 1px solid gray;
    width: 90%;
    height: 80%;
    /* margin-left: 3vw; */
    border-radius: 8px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.592);
    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 5rem;
    
  }
  
  .strategy-box h1 {
    font-size: 3.8vmin;
    margin-bottom: 1rem;
    font-weight: 900;
    color: #08545e;
    height: 16%;
    
  }
  
  .step-row {
    display: flex;
    height: 20%;
    align-items: flex-start;
    gap: 1rem;
    /* margin: 1rem 0; */
  }
  
  .step-circle {
    width: clamp(3vmax,3rem,3vmax);
    height: clamp(3vmax,3rem,3vmax);
    background-color: rgba(173, 216, 230, 0.7); /* Light blue */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .step-circle>p{
    font-size: 2.4vmin;
    font-weight: bold;
    color: rgb(0, 26, 71);
  }
  
  .step-details h2 {
    font-size: 2.2vmin;
    font-weight: 500;
    color: rgb(0, 26, 71);
    margin-bottom: 0.3rem;
    height: auto;
  }
  
  .step-details p {
    margin: 0;
    font-size: 2.4vmin;
  }

  

  @media (max-width: 768px) {
    #about {
      padding: 0vh 5vw;
      display: flex;
      height: auto;
    }
    
    .about-container {
      flex-direction: column;
      align-items: center;
    }
    
    .about-left, .about-right {
      width: 100%;
      height: auto;
    }

    .about-right{
        margin-top: 10vw;
    }
    .strategy-box {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
    
    .value-grid {
      grid-template-columns: 1fr;
    }
    .step-circle {
        width: 6vmax;
        height: 6vmax;
        background-color: rgba(173, 216, 230, 0.7);
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        color: rgb(0, 26, 71);
    }
    .step-details{
        width: 80%;
      }
  }
  