#expertise{
    margin-top: 15vh;
}
#expertise>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding-top: 8vh;
    
}
.etop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    margin: auto;
   
}
#expertise>div>.etop>h1{
    color: #08545e;
}
#expertise>div>div>h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 26, 71);
    margin-bottom: 2vh;
}
.etop>p{
    text-align: center;
}
.ecard{ 
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-left:1rem;
   padding-right: 1rem;
    gap: 3vh;
}
.ecard>div>h2{
    font-size: 2.4vmin;
}
.ecard>div>p{
    font-size: 2.2vmin;
}
.ecard>div{
    display: flex;
    flex-direction: column;
    border: .5px solid gray;
    border-radius: 5px;
    padding-top: 5vh;
    padding-left: 2vw;
    gap: 2vh;
    width: clamp(60vmin,480px,90vmin);
}
.ecard>div:hover{
    box-shadow: 5px 5px 5px rgba(36, 35, 35, 0.073);
}
.ecard>div>div{
    
    border: 1px solid gray;
    width: 2.7rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media (max-width: 768px) {
    #expertise>div>div>h1{
        font-size: 2rem;
    }
    .ecard{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2vh;
    }
    .ecard>div{
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .etop{
        width: 90vw;
    }

    .ecard>div>div{
    
        border: 1px solid gray;
        width: 10vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    .ecard>div{
        width: 70vw;
    }
}